@import "tailwindcss";

@theme {
  --animate-infinite-scroll: infinite-scroll 5s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  :root {
    --accent-color: #d0e0e3;
  }
}
