@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-color: #f8fafc;

    background-image:
      linear-gradient(#dbe3ef 1px, transparent 1px),
      linear-gradient(90deg, #dbe3ef 1px, transparent 1px);

    background-size: 70px 70px;
    background-position: center, center;
  }

  :root {
    --accent-color: #d0e0e3;
    --text-color: black;
  }

  .dark {
    --text-color: white;
  }

  .inactive-item .career-description,
  .inactive-item .career-pointers {
    color: #9ca3af;
    transition: color 0.3s ease;
  }

  .active-career .career-description,
  .active-career .career-pointers {
    color: #000;
  }

  .inactive-item .career-preview {
    filter: grayscale(1);
  }
  .active-career .career-preview {
    filter: grayscale(0);
  }
}
