@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  :root {
    --accent-color: #d0e0e3;
  }

  .inactive .career-title,
  .inactive .career-role,
  .inactive span,
  .inactive li span {
    color: #9ca3af;
    transition: color 0.3s ease;
  }

  .active-career .career-title,
  .active-career .career-role,
  .active-career span,
  .active-career li span {
    color: #000;
  }
}
